<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>CoinForCash - Play your Luck!!</title>
  <meta name="description" content="CoinForCash - Play your Luck!!">
  <meta name="keywords" content="lottery, money, make-money, paytm, cash">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="neon.css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="javascripts/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="javascripts/animate-in.js"></script>
  <link rel="stylesheet" href="/stylesheets/flipclock.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/flipclock.min.js"></script>
  <script src="/javascripts/custom.js"></script>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h2>Coin4Cash</h2>
      </a>
    </div>
  </nav>
  <!-- Cover -->
  <div class="section-fade-out pt-5" style="background-image: url(&quot;assets/app/cover.jpg&quot;); background-position: bottom;">
    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col-md-6 my-5 text-lg-left text-center align-self-center">
          <h1 class="display-4">Play your Luck!!</h1>
          <p class="lead">Play the draw & check what your fate have for you!!
            <br>
          </p>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 text-center ">
          <h1 style="margin:0 0 60px 40px; width: auto;" class="text-lg-left">Next BIG winner in </h1>
          <div class="clock" id="clock" style="zoom: 0.77;-moz-transform: scale(0.77);"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Article style section -->
  <div class="py-5">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-5 d-none d-sm-block  order-2 order-md-1 animate-in-left">
          <img class="img-fluid d-block my-3 mx-auto" src="assets/app/iphone_side_dark.png" width="200"> </div>
        <div class="col-md-7 align-self-center order-1 order-md-2 my-3 text-md-left text-center">
          <h2 class="display-4">Easy YET Powerful
            <br> Participate & WIN</h2>
          <p class="my-3">
            * Pay the amount to enter into the contest<br>
            * Winner would be announced every 12 hours<br>
            * From each category, 10 winners will won amount price<br>
            * Give more enteries to create your own FORTUNE...<br>
          </p>
          <a class="btn btn-outline-primary" href="#features">Enter Contest NOW!!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Features -->
  <div class="p-5" id="features">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="pb-4">Get Ready for the show!</h2>
        </div>
      </div>

      <div class="row">
        <div class="align-self-center text-md-left col-lg-4 col-md-6 col-xs-12">
          <!-- <img class="img-fluid d-block mx-auto" src="https://cdn.iconscout.com/public/images/icon/free/png-512/paytm-logo-online-payment-brand-35543a485878b8bc-512x512.png" width="40%" height="5"> -->
          <!-- <img class="img-responsive img-fluid d-block" width="50%" style="margin:auto;" src="/images/paytm_upi.png"> -->
          <h2 class="pb-4">Rules :</h2>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Entry Amount </th>
                  <th>Winning Amount</th>
                  <th>Participant gets </th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < 6; i++) { %>
                  <tr>
                    <td>
                      <%= i+1 %>
                    </td>
                    <td>
                      <%= "₹ "+ rules.amount[i] %>
                    </td>
                    <td>
                      <%= "₹ "+rules.won[i] %>
                    </td>
                    <td>
                      <%= "₹ "+rules.participate[i] %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
          * Money will get deposited in next 24 working hours.
          <!-- </p> -->
        </div>
        <div class="my-3 col-md-4 col-sm-12 col-xs-12 d-lg-block ">
          <form style="opacity: 0.9;" method="post" action="/register" target="_self">
            <div class="form-group">
              <label>Name</label>
              <input name="name" type="text" pattern="[a-z A-Z]+" class="form-control" placeholder="Enter your name" required>
              <small class="form-text text-muted">All the best..</small>
            </div>
            <div class="form-group">
              <label>Mobile Number (Payment made)</label>
              <input name="mobile" type="tel" pattern="^\d{10}$" class="form-control" placeholder="Enter your paytm number" required>
              <small class="form-text text-muted">We'll never share your contact with anyone else.</small>
            </div>
            <div class="form-group">
              <label>Contest entry price paid</label>
              <input name="amount" type="number" pattern="^[123][0]{1,2}$" min="10" max="300" step="10" title="Only 10,20,30,100,200 and 300 allowed"
                class="form-control" placeholder="Only 10,20,30,100,200 and 300 allowed" required>
              <small class="form-text text-muted">Get big amount, put in big</small>
            </div>
            <div class="form-group">
              <label>Email address</label>
              <input name="email" type="email" class="form-control" placeholder="Enter email" required>
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn text-center justify-content-center btn-primary text-capitalize">Submit</button>
          </form>
        </div>
        <div class="align-self-center text-md-left text-center col-lg-4 col-md-6">
          <!-- <img class="img-fluid d-block mx-auto p-2" src="https://crazydealonline.com/wp-content/uploads/2017/09/unnamed-1.png" width="40%"> -->
          <div style="margin-bottom: 10px;padding: 5px;">
            <h4 style="text-align: center;">Scan QR & Pay Using Paytm</h2>
              <a href="/images/paytm_upi.png" download>
              <img class="img-responsive img-fluid d-block" width="50%" style="margin:auto;" src="/images/paytm_upi.png">
              </a>
            </div>
            <h4 style="text-align: center;">Paytm / Tez : 9805830800</h4>
          <hr>
          <div class="my-3" style=" margin-top: 10px;padding: 5px;">
            <h4 style="">Steps:</h2>
              <p class="my-3" style="font-size: 0.7em;">
                1. Click on QR code<br>
                2. open image with Paytm App <br>
                3. Pay entry amount <br>
                4. Write message #coinforcash (Optional)<br>
                5. You are good to go<br>
              </p>
              <!-- <a href="/images/Tez_upi.png" download> -->
              <!-- <img class="img-responsive img-fluid d-block" width="50%" style="margin:auto;" src="/images/Tez_upi.png"> -->
                <!-- </a> -->
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="py-5" id="winners">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="pb-4">Winners of the contest!</h2>
        </div>
      </div>
      <div class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Winner's Name</th>
                    <th>Entry Amount </th>
                    <th>Winning Amount </th>
                    <th>Mobile </th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < winTable.length; i++) { %>
                    <tr>
                      <td>
                        <%= i+1 %>
                      </td>
                      <td>
                        <%= winTable[i].name %>
                      </td>
                      <td>
                        <%= winTable[i].amount %>
                      </td>
                      <% if(winTable[i].amount === 100){ %>
                        <td>1000</td>
                        <% } %>
                          <% if(winTable[i].amount === 200){ %>
                            <td>2000</td>
                            <% } %>
                              <% if(winTable[i].amount === 300){ %>
                                <td>5000</td>
                                <% } %>
                                  <td>
                                    <%= winTable[i].mobile %>
                                  </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
    <!-- Call to action -->
  <div class="py-5 bg-primary  d-none d-sm-block" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-6 animate-in-left">
          <img class="img-fluid d-block my-4 animate-slide-in" src="assets/app/iphone_isometric_dark.png"> </div>
        <div class="col-md-6 align-self-center text-center text-md-left">
          <h1>
            <b>Download CoinForCash</b>
          </h1>
          <p class="lead text-dark">
            <b class="text-white">Get it on your mobile device right now</b>
          </p>
          <div class="row mt-5">
            <div class="col-6 col-lg-4">
              <a href="#">
                <img class="center-block img-fluid d-block shadowed" src="assets/app/download_android.png"> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="py-5 bg-dark  d-none d-sm-block">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Sign up to our newsletter for the latest news</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn ml-2 btn-outline-primary">Subscribe</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center my-3">
          <a href="https://www.facebook.com" target="blank">
            <i class="fa fa-fw fa-facebook fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center my-3">
          <a href="https://twitter.com" target="blank">
            <i class="fa fa-fw fa-twitter fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center my-3">
          <a href="https://www.instagram.com" target="blank">
            <i class="fa fa-fw fa-instagram fa-3x text-white"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-3 text-center">
          <p class="text-muted">© Copyright 2018 CoinForCash - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- JavaScript dependencies -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="javascripts/smooth-scroll.js"></script>
  <script type="text/javascript">
    var clock;
    $(document).ready(function () {
      let dateNow = new Date();
      let countDown = ((23 - dateNow.getHours()) * 60 * 60) + ((60 - dateNow.getMinutes()) * 60) + (60 - dateNow.getSeconds());
      clock = $('.clock').FlipClock(countDown, {
        clockFace: 'DailyCounter',
        countdown: true,
        autoStart: true,
        showDay: false,
        callbacks: {
          start: function () {
            $('.message').html('The clock has started!');
          }
        }
      });
      hideHours();
      if (countDown < 60) {fetchWinners();      }
    });
  </script>
</body>
</html>